.container {
  margin-left: 25%;

}
table {
  width: 70%;
}

p {
  width: 68%;
  padding: 7px;
  border: 1px solid #a9a9a959;
  border-radius: 2px;
  background-color: #d3d3d329;
  color: #737792;
}

.material-icons{
  font-size: 16px;
}

h3 {
  text-align: center;
  font-weight: normal;
  font-size: 25px;
  margin-top: 50px;
}
