<ng-container *ngIf="dataSource?.length; else noData" >

    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="article_name">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon>calendar_today</mat-icon> {{element.date | date: 'dd.MM.yyyy'}} <br>
            {{element.article_name}}

          </td>
        </ng-container>

        <ng-container matColumnDef="unit_price">
          <th mat-header-cell *matHeaderCellDef> Unit Price </th>
          <td mat-cell *matCellDef="let element"><span *ngIf="callFrom && callFrom === 'chosen-articles'">{{element.quantity}} X </span>
            {{element.unit_price | priceView}} Euro </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Number </th>
          <td mat-cell *matCellDef="let element; let index">
            <span (click)="changeArticleQuantity(element, index, -1)">-</span>
            {{element.quantity}}
            <span (click)="changeArticleQuantity(element, index, 1)">+</span></td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total | priceView}} Euro </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <div *ngIf="callFrom && callFrom === 'chosen-articles'" class="total">
        <p><span *ngIf="user">Ordered by: {{user.firstName}} {{user.surname}}</span></p>
        <p>Total: {{totalPrice | priceView}} Euro</p>
      </div>
    </div>

</ng-container>
<ng-template #noData>
  <h3>No Chosen Articles</h3>
</ng-template>
